.admin {
  height: 100%;
  .content {
    margin: 10px 10px 0 10px;
    overflow: hidden;
    background-color: white;
  }
  .footer {
    text-align: center;
    font-size: 18px;
    color: #0daf64;
  }
}
